canvas {
  border: 1px solid silver;
  float: left;
}
h1 {
	font-family: 'Coming Soon', cursive;
	font-size: 40;
}
img {
  width: 60px;
  height: 60px;
}

.action{
	cursor: pointer;
	border: 2px solid transparent;
}

.action.active,
.action:hover{
	border-color: rgba(28,38,227,1);
}

#divEdicion {
	width: 20%;
	padding: 50px 0;
	text-align: center;
	background-color: lightblue;
	margin-top: 20px;
	float: left;
	display: block;
}

#divMateriales {
	width: 20%;
	padding: 50px 0;
	text-align: center;
	background-color: lightblue;
	margin-top: 20px;
	float: left;
	display: none;
}

#divEdicionFigura {
	width: 20%;
	padding: 50px 0;
	text-align: center;
	background-color: lightblue;
	margin-top: 20px;
	float: left;
	display: none;
}

#divBorrarFigura {
	width: 20%;
	padding: 50px 0;
	text-align: center;
	background-color: lightblue;
	margin-top: 20px;
	float: left;
	display: none;
}

#divEditarFigura {
	width: 20%;
	padding: 50px 0;
	text-align: center;
	background-color: lightblue;
	margin-top: 20px;
	float: left;
	display: none;
}


#comboBox {
	width: 45%;
}
#comboBoxEdit {
	width: 45%;
}

#square-fig {
	display: none;
}
#sphere-fig {
	display: none;
}
#cylinder-fig {
	display: none;
}
#cone-fig {
	display: none;
}
#tetrahedron-fig {
	display: none;
}
#torus-fig {
	display: none;
}
#torusknot-fig {
	display: none;
}
#icosahedron-fig {
	display: none;
}
#dodecahedron-fig {
	display: none;
}
#octahedron-fig {
	display: none;
}
#extra-fig{
	display: none;
}

#divAnimacion {
	width: 20%;
	padding: 50px 0;
	text-align: center;
	background-color: rgb(221, 153, 218);
	margin-top: 20px;
	float: left;
	display: none;
}

